<div class="title row">
    <h3>Build your collection</h3>
</div>

<div class="visualsContainer row">

    <!-- clickBar and clickCircle are the animation classes for the collectSection -->
    <div class="collectSection column">

        <div class="collectVisual row">

            <div class="outerBox column">

                <div class="topPanel row">

                    <div class="dpCircle column">

                    </div>

                    <div class="profileDetails column">

                        <div class="topRow row">

                        </div>

                        <div class="bottomRow row">

                        </div>

                    </div>

                </div>

                <div class="postImage row">

                </div>

                <div class="bottomPanel row">

                        <div class="postDescription column">

                        </div>

                        <div class="collectButton column">

                            <div [ngClass]="count === 0 ? 'clickCircle' : ''">

                            </div>

                            <div [ngClass]="count === 0 ? 'clickBar' : ''" class="one">

                            </div>

                            <div [ngClass]="count === 0 ? 'clickBar' : ''" class="two">

                            </div>

                            <div [ngClass]="count === 0 ? 'clickBar' : ''" class="three">

                            </div>

                            <div [ngClass]="count === 0 ? 'clickBar' : ''" class="four">

                            </div>

                            <div [ngClass]="count === 0 ? 'clickBar' : ''" class="five">

                            </div>

                            <div [ngClass]="count === 0 ? 'clickBar' : ''" class="six">

                            </div>

                            <div [ngClass]="count === 0 ? 'clickBar' : ''" class="seven">

                            </div>

                            <div [ngClass]="count === 0 ? 'clickBar' : ''" class="eight">

                            </div>

                        </div>



                </div>

            </div>

        </div>

        <div class="imageText row">
            <p>Collect posts
                you like.</p>
        </div>

    </div>

    <!-- makePostImage is the only animation class to activate and deactivate for the makePostSection -->
    <div class="makePostSection column">

        <div class="makePostVisual row">

            <div class="outerBox makePostBox column">

                <div class="plusSign">

                    <img class = "centeredPlus" src = "assets/images/clickButton.svg">

                </div>

                <img  [ngClass]="count === 1 ? 'makePostImage' : ''" src = "assets/images/Group 79.svg">

            </div>

        </div>

        <div class="imageText row">
            <p>Make your own posts.</p>
        </div>

    </div>

    <!-- dissapearRowOne, dissapearRowTwo, moveUp and activateSearch is the animation class for the collectionSection -->
    <div class="collectionSection column">

        <div class="collectionVisual row">

            <div class="outerBox column">

                <ul class>

                    <li>
                        <!-- activateSearch -->
                        <div [ngClass]="count === 2 ? 'activateSearch' : ''" class="searchBar row">

                            <img class = "searchIcon" src = "assets/images/searchIcon.svg">

                        </div>

                    </li>
                    <!-- dissapearRowOne -->
                    <li [ngClass]="count === 2 ? 'dissapearRowOne' : ''">

                        <div class="selectPost row">

                            <div class="selectPostImage column">

                                <div class="image">

                                    <img src = "assets/images/image1.svg">

                                </div>

                            </div>

                            <div class="selectPostDetails column">

                                <div class="postDetailTop row">

                                    <div class="selectDP column">

                                    </div>

                                    <div class="profileName row">

                                    </div>

                                </div>

                                <div class="postDetailBottom row">

                                    <div class="selectPostDescription column">

                                    </div>

                                </div>

                            </div>


                        </div>

                    </li>
                    <!-- moveUp -->
                    <li [ngClass]="count === 2 ? 'moveUp' : ''">

                        <div class="selectPost row">

                            <div class="selectPostImage column">

                                <div class="image">

                                    <img src = "assets/images/image3.svg">

                                </div>

                            </div>

                            <div class="selectPostDetails column">

                                <div class="postDetailTop row">

                                    <div class="selectDP column">

                                    </div>

                                    <div class="profileName row">

                                    </div>

                                </div>

                                <div class="postDetailBottom row">

                                    <div class="selectPostDescription column">

                                    </div>

                                </div>

                            </div>


                        </div>

                    </li>
                    <!-- dissapearRowTwo -->
                    <li [ngClass]="count === 2 ? 'dissapearRowTwo' : ''">

                        <div class="selectPost row">

                            <div class="postSelectAnimation row">

                                <div class="selectPostImage column">

                                    <div class="image">

                                        <img src = "assets/images/image4.svg">

                                    </div>

                                </div>

                                <div class="selectPostDetails column">

                                    <div class="postDetailTop row">

                                        <div class="selectDP column">

                                        </div>

                                        <div class="profileName row">

                                        </div>

                                    </div>

                                    <div class="postDetailBottom row">

                                        <div class="selectPostDescription column">

                                        </div>

                                    </div>

                                </div>


                            </div>

                        </div>

                    </li>

                </ul>

            </div>

        </div>

        <div class="imageText row">

            <p>Search for a post.</p>

        </div>

    </div>

</div>
