<div class="row spacing center">
    <div class="col">
        <div class="container">
            <h1 class="name">Postpress</h1>
            <embed class="symbol" src="assets/logo/symbol.svg" alt="Postpress">
            <a href="https://www.instagram.com/postpress.io/" target="_blank" (click)='clickInstagram();'>
                <img class="insta-symbol" src="assets/icons/instagram.svg" alt="Instagram">
                <h5 class="instagram pointer">Follow us on Instagram</h5>
            </a>
            <a href="mailto:contact@postpress.io" (click)='clickEmail();'>
                <img class="email-symbol" src="assets/icons/email.svg" alt="Email">
                <h5 class="email pointer">contact@postpress.io</h5>
            </a>
        </div>        
    </div>
</div>
