.spacing {
    margin-top: 18px;
    background: rgba(4, 6, 5, 0.5);
}

.center { 
    justify-content: center;
}


.container {
    position: relative;
    width: 1152px;
    height: 178px;
}

.name {
    position: absolute;
    width: 114px;
    height: 30px;
    left: 425px;
    top: 37px;
    font-size: 24px;
}

.symbol {
    position: absolute;
    width: 82px;
    height: auto;
    left: 645px;
    top: 39px;
}

.insta-symbol {
    position: absolute;
    left: 426px;
    top: 83px;
    width: 24px;
    height: auto;
}

.instagram {
    position: absolute;
    width: 119px;
    height: 15px;
    left: 464px;
    top: 88px;
    font-size: 12px;
}

.email-symbol {
    position: absolute;
    left: 426px;
    top: 119px;
    width: 24px;
    height: auto; 
}

.email {
    position: absolute;
    width: 113px;
    height: 15px;
    left: 464px;
    top: 120px;
    font-size: 12px;
}

.pointer {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    .container {
        width: 300px;
        height: 139px;
    }

    .name {
        width: 123px;
        height: 33px;
        left: 113px;
        top: 21px;
        font-size: 26px;
    }

    .symbol {
        width: auto;
        height: 48px;
        left: 60px;
        top: 12px;
    }

    .insta-symbol {
        left: 71px;
        top: 69px;
        width: 24px;
        height: auto;
    }

    .instagram {
        position: absolute;
        width: 119px;
        height: 15px;
        left: 109px;
        top: 72px;
        font-size: 12px;
    }

    .email-symbol {
        position: absolute;
        left: 71px;
        top: 103px;
        width: 24px;
        height: auto; 
    }

    .email {
        position: absolute;
        width: 113px;
        height: 15px;
        left: 109px;
        top: 104px;
        font-size: 12px;
    }
}
