rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Check if user has the specified uid
    function isUser(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }

    // Check if user is signed in
    function isSignedIn() {
      return request.auth.uid != null;
    }

    match /alphaUsers/{uid} {
      allow read, delete: if false;
      allow update, create: if isUser(uid);

      match /{id}/signUps {
        allow read, update, delete: if false;
        allow create: if isUser(uid);
      }
    }

    match /counter {
      allow read: if true;
      allow write: if false;

      match /private/shards/{shard_num} {
        allow read: if true;
        allow update: if isSignedIn();
        allow create, delete: if false;
      }

      match /public/shards/{shard_num} {
        allow read: if false;
        allow update: if isSignedIn();
        allow create, delete: if false;
      }
    }

  }
}
