rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Check if user has the specified uid
    function isUser(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }

    // Check if user is signed in
    function isSignedIn() {
      return request.auth.uid != null;
    }

    match /alphaUsers/{email} {
      allow get: if true;
      allow create: if isUser(request.resource.data.uid);
      allow update, delete, list: if false;
    }


    match /counter {

      match /public {

        match /shards/{shard_num} {
          allow read: if true;
          allow update: if isSignedIn();
          allow create, delete: if false;
        }

        match /info {
          allow read, write: if false;
        }
      }

      match /private/shards/{shard_num} {
        allow read: if false;
        allow update: if isSignedIn();
        allow create, delete: if false;
      }
    }

  }
}
