<div class="row title">

    <div class="divider column">

    </div>

    <div class="titleText column">

        <div class = "row">
                How it works
        </div>

        <div class = "row titleSubText">
                <p>Build and share interactive experiences.<br>
                    We like to call them <span class = "subHeadingHighlight">spaces.</span></p>
        </div>

    </div>

    <div class="gears column">

        <img class = "gearLarge" src = "assets/images/gearLarge.svg">

        <img class = "gearMid" src = "assets/images/gearMid.svg">

        <img class = "gearSmall" src = "assets/images/gearSmall.svg">

    </div>

</div>

<app-card-one class = "row cardOne"></app-card-one>

<app-card-two class = "row cardTwo"></app-card-two>

<app-card-three class = "row cardThree"></app-card-three>