.how-it-works {

  width: 100vw;
  background-color: var(--primary);

}

.creator-benefits {

  position: absolute;
  top: 2350px;
  width: 100vw;
  height: 1638px;
  background: #0D0618;
  z-index: 0;

}

.navbar {

  width: 100vw;
  top: 18px;
  z-index: 2;
  justify-content: center;

}

.center {
  justify-content: center;
  align-items: center;
}


