@import url('../../assets/css/styles-b.css');

.landing-page {

  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
  
}

.how-it-works {

  width: 100vw;
  background-color: var(--primary);

}

.creator-benefits {

  position: absolute;
  top: 2870px;
  width: 100vw;
  height: 1638px;
  background: #0D0618;
  z-index: 0;

}

.navbar {

  width: 100vw;
  z-index: 2;
  justify-content: center;
  margin-top: 18px;
  position: fixed;

}

.center {
  justify-content: center;
  align-items: center;
}


