.how-it-works {

  width: 100vw;
  background-color: var(--primary);

}

.navbar {

  position: fixed;
  width: 100vw;
  top: 18px;
  z-index: 2;
  justify-content: center;
  
}

.center {
  justify-content: center;
  align-items: center;
}


