<div class="backpanel row">

    <div class="column name">
        <h2>Postpress</h2>
    </div>

    <div class="column links">

        <div class="row">

            <div class="column link">

                <div class="row"
                     [routerLink]='"."'
                     [fragment]="'howitworks'">

                    <div class="column imageLink">
                        <img src = "assets/images/howitworksNav.svg">
                    </div>

                    <div class="column text">
                        <h6>How it works</h6>
                    </div>

                </div>

            </div>

            <div class="column link linkSpacer">

                <div class="row"
                      [routerLink]='"."'
                      [fragment]="'creators'">

                    <div class="column imageLink">
                        <img src = "assets/images/creatorbenefitsIcon.svg">
                    </div>

                    <div class="column text">
                        <h6>Creator benefits</h6>
                    </div>

                </div>

            </div>

            <!-- <div class="column link linkSpacer">

                <div class="row">

                    <div class="column imageLink">
                        <img src = "assets/images/affiliateIcon.svg">
                    </div>

                    <div class="column text">
                        <h6>Affiliate with us</h6>
                    </div>

                </div>

            </div> -->

        </div>

    </div>

    <div class="column signUpLink">

        <div class="row signUpButton" routerLink='/signup' (click)='track()'>

            <div class="signUpText">
                <h6>Early Access</h6>
            </div>

        </div>

    </div>

</div>
