<div class="column text-center y-center">
  <div class="row title-spacing">
    <div>
      Our mission is to empower <br> creativity.
    </div>
  </div>
  <div class="row tile-spacing">
    <div class="column y-center">
      <div class="row content-spacing">
        Tackle creative burnout
      </div>
      <div class="row">
        Use your entire collection to engage your<br> audience with your interests,<br> not just your content.
      </div>
    </div>
  </div>
  <div class="row tile-spacing">
    <div class="column y-center">
      <div class="row content-spacing">
        Credit in collaboration
      </div>
      <div class="row">
        Our robust crediting system allows you to<br> maintain integrity no matter where your<br> work goes, or whose work you use.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column y-center">
      <div class="row content-spacing">
        Create more, market less
      </div>
      <div class="row">
        The community spreads your work <br>by using it to make more spaces,<br>don’t depend on our algorithm.
      </div>
    </div>
  </div>
</div>
