<div class="column text-center y-center">
  <div class="row title-spacing">
    <div>
      <h2>
        Our mission is to empower <br> creativity.
      </h2>
    </div>
  </div>
  <div class="row tile-spacing">
    <div class="column y-center">
      <div class="row content-spacing">
        <h2>
          Tackle creative burnout
        </h2>
      </div>
      <div class="row">
        <p>
          Use your entire collection to engage your<br> audience with your interests,<br> not just your content.
        </p>
      </div>
    </div>
  </div>
  <div class="row tile-spacing">
    <div class="column y-center">
      <div class="row content-spacing">
        <h2>
          Credit in collaboration
        </h2>
      </div>
      <div class="row">
        <p>
          Our robust crediting system allows you to<br> maintain integrity no matter where your<br> work goes, or whose work you use.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column y-center">
      <div class="row content-spacing">
        <h2>
          Create more, market less
        </h2>
      </div>
      <div class="row">
        <p>
          The community spreads your work <br>by using it to make more spaces,<br>don’t depend on our algorithm.
        </p>
      </div>
    </div>
  </div>
</div>
