.mainPage {

    width: 100vw;
    justify-content: center;
    z-index: 2;
  
}

.backgroundCover {

  width: 100vw;
  height: 2290px;
  position: absolute;
  z-index: -2;

}

.backgroundCover > img {

  height: 100%;
  width: 100%;
  object-fit: cover;

}

.phoneCircles {

  display: none;

}

.midCircles {

  display: none;

}

.logo {

    margin-top: 92px;
  
}

.alignSlogan {

    justify-content: center;
  
}

h2 {

    margin-bottom: 24px;
    text-align: center;
    margin-top: 16px;

}

.signUpButton {

    margin-top: 48px;
  
}

.center {

    justify-content: center;
    align-items: center;

}

.moreArrow {

    width: auto;
    height: auto;
    margin-top: 48px;
    animation: more-arrow 1s ease-in-out infinite both;
  
}
  

.moreArrow > img {
  
    cursor: pointer;
  
}


@media screen and (max-width: 900px) {

  .desktopCircles {

      display: none;

  }
  
  .midCircles {

      display: block;
  
  }



}

@media screen and (max-width: 500px) {

  .infoCard {

      backdrop-filter: blur(50px);

  }

  .infoCardTwo {

      backdrop-filter: blur(50px);

  }

  .phoneCircles {

      display: block;
  
  }

  .desktopCircles {

      display: none;

  }

  .midCircles {

      display: none;
  
  }


}


@keyframes more-arrow{

    0% {
  
      opacity: 1;
  
    }
  
    50% {
  
      opacity: 0.4;
  
    }
  
    100% {
  
      opacity: 1;
  
    }
  
  }
  
  @keyframes scale-logo {
  
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  
  }