<div class="backgroundCover">
  <img class = "desktopCircles" src = "assets/images/backgroundCircles.svg">
  <img class = "phoneCircles" src = "assets/images/backgroundCirclesPhone.svg">
  <img class = "midCircles" src = "assets/images/midBackgroundCircles.svg">
</div>

<div class="row mainPage">
    <div class="column">
      <div class="row center logo">
        <img src="assets/images/logo.svg">
      </div>
      <div class="row alignSlogan">
        <h2>
          Share your interests.
        </h2>
      </div>
      <div class="row signUpButton center">
        <app-sign-up-banner location='welcome screen'></app-sign-up-banner>
      </div>
    </div>
</div>
