<div class="backPanel row">

    <div class="link sizer column">
        <img class = " logo " src = "assets/images/logoText.svg">
    </div>

    <div class="link navLinks column">

        <div class="expand row">

            <div class="link column">
                <img class = "howItWorks" src = "assets/images/howItWorks.svg">
            </div>
        
            <div class="link creatorBenefits column">
                <img src = "assets/images/creatorBenefits.svg">
            </div>
        
            <div class="link affiliateWithUs column">
                <img class = "affiliateWithUs" src = "assets/images/affiliateWithUs.svg">
            </div>

        </div>

    </div>

    <div class="link sizer column">
        <div class="button">

        </div>
    </div>
    

</div>