<div class="blur fix" 
    (window:scroll)="onScroll($event)"
    [ngClass]="scrollPosition >= 10 ? 'appear' : 'disappear'"></div>
<div class="row navbar align-center fix" >
  <div class="col">
    <div class="row align-center">
      <div class="col logo">
        <img src="assets/logo/symbol.png" class="symbol" alt="Postpress">
      </div>
      <div class="col name">
        <h1>
          Postpress
        </h1>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="button">
      <h6>Early Access</h6>
    </div>
  </div>
</div>
