.navbar {
    justify-content: space-between;
    padding: 12px 72px 0 72px;
}

.align-center {
    align-items: center;
}

.symbol {
    height: 56px;
    width: auto;
}

.name {
    margin-left: 18px;
}

.button {
    background: #FDF0DD;
    border-radius: 6px;
    padding: 9px 10px 9px 10px;
}
