<div class="backCover">

    <img class = "background" src = "assets/images/backgroundLandingBanner.svg">

</div>

<div class="landingBanner column">

    <div class="centerDiv">

        <div class="slogan row">

            <span>
                The easiest way <br>
                to express yourself.
            </span>
    
        </div>
    
        <div class="underSlogan row">
    
            <span>
                A social platform that empowers creativity. 
            </span>
    
        </div>

        <app-sign-up-banner class = "signUpButton row"></app-sign-up-banner>

    </div>

</div>


