.landingBanner {

    height: 100vh;
    z-index: 1;
    justify-content: center;

}

.centerDiv {

    z-index: 1;
    margin-left: 148px;
    margin-top: 48px;

}

/* .textSlogan {

    /* margin-top: 76px; */



.slogan {


    font-family: 'Recoleta';
    font-style: normal;
    font-weight: bold;
    font-size: 91px;
    line-height: 140%;
    color: #FDF0DD;
    z-index: 1;

}

.underSlogan {

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 140%;
    color: #FDF0DD;
    margin-top: 8px;
    z-index: 1;
    align-self: flex-start;

}

.signUpButton {

    margin-top: 12px;
    
}

.landingLogo {

    margin-left: 58px;
    filter: drop-shadow(33.4194px 13.3845px 89px rgba(0, 0, 0, 0.2)) drop-shadow(16.9186px 6.7759px 38.7984px rgba(0, 0, 0, 0.135)) drop-shadow(6.68388px 2.6769px 14.4625px rgba(0, 0, 0, 0.1)) drop-shadow(1.4621px 0.585571px 5.14531px rgba(0, 0, 0, 0.065));

}


