<div class="landingBanner column">

    <div class="centerDiv row">

        <div class="column textSlogan">

            <div class="slogan row">

                <span>
                    The Easiest Way <br>
                    <span class = "sloganHighlight">to Express Yourself.</span>
                </span>
        
            </div>
        
            <div class="underSlogan row">
        
                <span>
                    A social platform that <strong>empowers creativity.
                    <svg class = "underlineSVG" viewBox = "0 0 274 8">
                        <path fill="none" stroke="#FFF" stroke-width="2" d="M174,456.290698 C307.466899,452.763566 398.466899,451 447,451" transform="translate(-173 -450)"></path>
                    </svg>
                </strong>
                </span>
        
            </div>
    
            <app-sign-up-banner class = "signUpButton row"></app-sign-up-banner>

        </div>

        <div class="column landingLogo">

            <img src = "assets/images/landingLogo.svg">

        </div>
        
    </div>

</div>


