<div class="landingBanner column">

    <div class="centerDiv row">

        <div class="column textSlogan">

            <div class="slogan row">

                <span>
                    The easiest way <br>
                    to express yourself.
                </span>
        
            </div>
        
            <div class="underSlogan row">
        
                <span>
                    A social platform that empowers creativity. 
                </span>
        
            </div>
    
            <app-sign-up-banner class = "signUpButton row"></app-sign-up-banner>

        </div>

        <div class="column landingLogo">

            <img src = "assets/images/landingLogo.svg">

        </div>
        
    </div>

</div>


