.title {
    justify-content: center;
    width: 100%;
}

.visualsContainer {

    width: 100%;
    margin-top: 16px;

}

/* Group Tiles Column */

.outerBox {

    width: 92px;
    height: 92px;
    border: 1px solid #040605;
    box-sizing: border-box;

}

.groupTiles {

    width: 110px;
    margin-left: 57px;

}

.groupTilesVisual {

    padding-left: 9px;

}

.tile {

    width: 19px;
    height: 18px;
    border: 1px solid #040605;
    box-sizing: border-box;

}

.imageText {

    margin-top: 4px;
    text-align: center;
   
}

.imageText > p {

    color: #040605;

}

/* Collection column */

ul {

    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: hidden;

}

li {
    
    list-style: none;
    margin: 0;
    padding: 0;

}

.collectionVisual {

    padding-left: 9px;

}

.collectionSection {

   margin-left: 56px;
   width: 110px;

}

.selectPost {

    width: 100%;
    height: 34px;

}

.selectPostImage {

    margin-left: 2px;
    margin-top: 2px;
    height: 30px;
    width: 30px;
    border: 1px solid #040605;
    box-sizing: border-box;

}

.selectPostDetails {

    margin-left: 2px;
    height: 34px;

}

.selectDP {

    width: 12px;
    height: 12px;
    border: 1px solid #040605;
    box-sizing: border-box;
    border-radius: 50%;
    margin-top: 5px;

}

.profileName {

    width: 40px;
    height: 6px;
    border: 1px solid #040605;
    box-sizing: border-box;
    border-radius: 1px;
    margin-top: 8px;
    margin-left: 2px;

}

.selectPostDescription {

    width: 54px;
    height: 10px;
    border: 1px solid #040605;
    box-sizing: border-box;
    border-radius: 1px;
    margin-top: 2px;

}

/* Size column */

.sizeSection {

    width: 110px;
    margin-left: 53px;

}

.sizeSectionVisual {

    padding-left: 9px;

}


.noBorder {

    border: none;
    position: relative;

}

.sizeImage {

    width: 100%;
    height: 100%;

}

.topLeftSizer {

    display: inline-block;
    position: absolute;
    top: -3px;
    left: 0px;
    width: auto;
    height: auto;
    z-index: 5;

}

.topRightSizer {

    display: inline-block;
    position: absolute;
    top: -3px;
    right: 0px;
    width: auto;
    height: auto;
    z-index: 5;
    transform: rotate(90deg);

}

.bottomLeftSizer {

    display: inline-block;
    position: absolute;
    bottom: -3px;
    left: 0px;
    width: auto;
    height: auto;
    z-index: 5;
    transform: rotate(-90deg);

}

.bottomRightSizer {

    display: inline-block;
    position: absolute;
    bottom: -3px;
    right: 0px;
    width: auto;
    height: auto;
    z-index: 5;
    transform: rotate(-180deg);

}

.innerImage {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

}





