.title {
    justify-content: center;
    width: 100%;
}

.visualsContainer {

    width: 100%;
    margin-top: 16px;

}

/* Group Tiles Column */

.outerBox {

    width: 92px;
    height: 92px;
    border: 1px solid #040605;
    box-sizing: border-box;

}

.groupTiles {

    width: 110px;
    margin-left: 57px;

}

.groupTilesVisual {

    padding-left: 9px;

}

.tile {

    width: 19px;
    height: 18px;
    border: 1px solid #040605;
    box-sizing: border-box;

}

.imageText {

    margin-top: 4px;
    text-align: center;
   
}

.imageText > p {

    color: #040605;

}

.one {
    animation: select-tile-one 4s ease-out both infinite;
}

.two {
    animation: select-tile-two 4s both infinite;
}

.three {
    animation: select-tile-three 4s both infinite;
}

.four {
    animation: select-tile-four 4s both infinite;
}

.five {
    animation: select-tile-five 4s both infinite;
}

.six {
    animation: select-tile-six 4s both infinite;
}

.seven {
    animation: select-tile-seven 4s both infinite;
}

/* Collection column */

ul {

    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: hidden;

}

li {
    
    list-style: none;
    margin: 0;
    padding: 0;

}

.collectionVisual {

    padding-left: 9px;

}

.collectionSection {

   margin-left: 56px;
   width: 110px;

}

.selectPost {

    width: 100%;
    height: 34px;

}

.selectPostAnimation {

    animation: collection-scroll 3s ease-out both infinite;

}

.postSelectAnimation {

    animation: post-select 3s ease-out both infinite;
    width: 100%;
    height: 34px;
    z-index: -1;

}



.selectPostImage {

    margin-left: 2px;
    margin-top: 2px;
    height: 30px;
    width: 30px;
    border: 1px solid #040605;
    box-sizing: border-box;

}

.selectPostDetails {

    margin-left: 2px;
    height: 34px;

}

.selectDP {

    width: 12px;
    height: 12px;
    border: 1px solid #040605;
    box-sizing: border-box;
    border-radius: 50%;
    margin-top: 5px;

}

.profileName {

    width: 40px;
    height: 6px;
    border: 1px solid #040605;
    box-sizing: border-box;
    border-radius: 1px;
    margin-top: 8px;
    margin-left: 2px;

}

.selectPostDescription {

    width: 54px;
    height: 10px;
    border: 1px solid #040605;
    box-sizing: border-box;
    border-radius: 1px;
    margin-top: 2px;

}

.image {

    background-color: #FDF0DD;
    width: 100%;
    height: 100%;

}

/* Size column */

.sizeSection {

    width: 110px;
    margin-left: 53px;

}

.sizeSectionVisual {

    padding-left: 9px;

}


.noBorder {

    border: none;
    position: relative;
    
}

.sizeImage {

    width: 100%;
    height: 100%;
    position: relative;

}

.sizeImageAnimation {

    animation: scale-outer-image 3s ease-in-out both infinite;

}

.topLeftSizer {

    display: inline-block;
    position: absolute;
    top: -3px;
    left: 0px;
    width: auto;
    height: auto;
    z-index: 5;

}

.topRightSizer {

    display: inline-block;
    position: absolute;
    top: -3px;
    right: 0px;
    width: auto;
    height: auto;
    z-index: 5;
    transform: rotate(90deg);

}

.bottomLeftSizer {

    display: inline-block;
    position: absolute;
    bottom: -3px;
    left: 0px;
    width: auto;
    height: auto;
    z-index: 5;
    transform: rotate(-90deg);

}

.bottomRightSizer {

    display: inline-block;
    position: absolute;
    bottom: -3px;
    right: 0px;
    width: auto;
    height: auto;
    z-index: 5;
    transform: rotate(-180deg);

}

.innerImage {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

}

/* Animations */

@keyframes select-tile-one {

    0% {

        background-color: none;

    }

    5% {

        background-color: #040605;

    }

    90% {

        background-color: #040605;

    }

    100% {

        background-color: #040605;

    }

}

@keyframes select-tile-two {

    15% {

        background-color: none;

    }

    20% {

        background-color: #040605;

    }

    90% {

        background-color: #040605;

    }

    100% {

        background-color: #040605;

    }

}

@keyframes select-tile-three {

    30% {

        background-color: none;

    }

    35% {

        background-color: #040605;

    }

    90% {

        background-color: #040605;

    }

    100% {

        background-color: #040605;

    }

}

@keyframes select-tile-four {

    45% {

        background-color: none;

    }

    50% {

        background-color: #040605;

    }

    90% {

        background-color: #040605;

    }

    100% {

        background-color: #040605;

    }

}

@keyframes select-tile-five {

    60% {

        background-color: none;

    }

    65% {

        background-color: #040605;

    }

    90% {

        background-color: #040605;

    }

    100% {

        background-color: #040605;

    }

}

@keyframes select-tile-six {

    75% {

        background-color: none;

    }

    80% {

        background-color: #040605;

    }

    90% {

        background-color: #040605;

    }

    100% {

        background-color: #040605;

    }

}

@keyframes select-tile-seven {

    90% {

        background-color: #040605;

    }

    100% {

        background-color: #040605;

    }

}

@keyframes collection-scroll {

    0% {
        transform: translate(0,0);
    }

    40% {

        transform: translate(0,-300%);

    }

    90% {

        transform: translate(0,-300%);

    }

    100% {
        
        transform: translate(0,0);
        
    }

}

@keyframes post-select {

    80% {

        background-color: none;
        
    }

    90% {
        background-color: #FDF0DD;
    }

    100% {

        background-color: none;

    }



}

@keyframes scale-outer-image {

    40% {

        transform: scale(0.6);

    }

    70% {

        transform: scale(0.8);

    }

    90% {

        transform: scale(0.8);

    }

    100% {

        transform: scale(1);

    }

}



