<div class="title row">
    <h3>Make spaces</h3>
</div>

<div class="visualsContainer row">

    <div class="groupTiles column">

        <div class="groupTilesVisual row">

            <div class="outerBox column">

                <div class="row">

                    <div class="column tile">

                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                </div>

                <div class="row">

                    <div class="column tile">

                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                </div>

                <div class="row">

                    <div class="column tile">

                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                </div>

                <div class="row">

                    <div class="column tile">

                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                </div>

                <div class="row">

                    <div class="column tile">

                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                </div>

            </div>


        </div>

        <div class="imageText widthException row">
            <p>Group tiles to make a frame.</p>
        </div>
    
    </div>

    <div class="collectionSection column">

        <div class="collectionVisual row">

            <div class="outerBox column">

                <ul>

                    <li>

                        <div class="selectPost row">

                            <div class="selectPostImage column">



                            </div>

                            <div class="selectPostDetails column">

                                <div class="postDetailTop row">

                                    <div class="selectDP column">

                                    </div>

                                    <div class="profileName row">

                                    </div>

                                </div>

                                <div class="postDetailBottom row">

                                    <div class="selectPostDescription column">

                                    </div>

                                </div>

                            </div>


                        </div>
                        
                    </li>

                    <li>

                        <div class="selectPost row">

                            <div class="selectPostImage column">

                                

                            </div>

                            <div class="selectPostDetails column">

                                <div class="postDetailTop row">

                                    <div class="selectDP column">

                                    </div>

                                    <div class="profileName row">

                                    </div>

                                </div>

                                <div class="postDetailBottom row">

                                    <div class="selectPostDescription column">

                                    </div>

                                </div>

                            </div>


                        </div>
                        
                    </li>

                    <li>

                        <div class="selectPost row">

                            <div class="selectPostImage column">

                                

                            </div>

                            <div class="selectPostDetails column">

                                <div class="postDetailTop row">

                                    <div class="selectDP column">

                                    </div>

                                    <div class="profileName row">

                                    </div>

                                </div>

                                <div class="postDetailBottom row">

                                    <div class="selectPostDescription column">

                                    </div>

                                </div>

                            </div>


                        </div>
                        
                    </li>

                    <li>

                        <div class="selectPost row">

                            <div class="selectPostImage column">

                                

                            </div>

                            <div class="selectPostDetails column">

                                <div class="postDetailTop row">

                                    <div class="selectDP column">

                                    </div>

                                    <div class="profileName row">

                                    </div>

                                </div>

                                <div class="postDetailBottom row">

                                    <div class="selectPostDescription column">

                                    </div>

                                </div>

                            </div>


                        </div>
                        
                    </li>

                    <li>

                        <div class="selectPost row">

                            <div class="selectPostImage column">

                                

                            </div>

                            <div class="selectPostDetails column">

                                <div class="postDetailTop row">

                                    <div class="selectDP column">

                                    </div>

                                    <div class="profileName row">

                                    </div>

                                </div>

                                <div class="postDetailBottom row">

                                    <div class="selectPostDescription column">

                                    </div>

                                </div>

                            </div>


                        </div>
                        
                    </li>

                    <li>

                        <div class="selectPost row">

                            <div class="selectPostImage column">

                                

                            </div>

                            <div class="selectPostDetails column">

                                <div class="postDetailTop row">

                                    <div class="selectDP column">

                                    </div>

                                    <div class="profileName row">

                                    </div>

                                </div>

                                <div class="postDetailBottom row">

                                    <div class="selectPostDescription column">

                                    </div>

                                </div>

                            </div>


                        </div>
                        
                    </li>

                </ul>

            </div>         

        </div>

        <div class="imageText row">

            <p>Choose a post
                from your 
                collection</p>

        </div>

    </div>






</div>
