<div class="title row">
    <h3>Creating spaces</h3>
</div>

<div class="visualsContainer row">

    <div class="groupTiles column">

        <div class="groupTilesVisual row">

            <div class="outerBox column">

                <div class="row">

                    <div class="column one tile">

                    </div>

                    <div class="column two tile">
                        
                    </div>

                    <div class="column three tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                </div>

                <div class="row">

                    <div class="column four tile">

                    </div>

                    <div class="column five tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                </div>

                <div class="row">

                    <div class="column six tile">

                    </div>

                    <div class="column seven tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                </div>

                <div class="row">

                    <div class="column tile">

                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                </div>

                <div class="row">

                    <div class="column tile">

                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                    <div class="column tile">
                        
                    </div>

                </div>

            </div>


        </div>

        <div class="imageText widthException row">
            <p>Group tiles to make a frame.</p>
        </div>
    
    </div>

    <div class="collectionSection column">

        <div class="collectionVisual row">

            <div class="outerBox column">

                <ul>

                    <li>

                        <div class="selectPost row">

                            <div class="selectPostImage column">
        
                                <div class="image">
                                    
                                </div>

                            </div>

                            <div class="selectPostDetails column">

                                <div class="postDetailTop row">

                                    <div class="selectDP column">

                                    </div>

                                    <div class="profileName row">

                                    </div>

                                </div>

                                <div class="postDetailBottom row">

                                    <div class="selectPostDescription column">

                                    </div>

                                </div>

                            </div>


                        </div>
                        
                    </li>

                    <li>

                        <div class="selectPost row">

                            <div class="selectPostImage column">

                                <div class="image">
                                    
                                    <img src = "assets/images/image2.svg">

                                </div>

                            </div>

                            <div class="selectPostDetails column">

                                <div class="postDetailTop row">

                                    <div class="selectDP column">

                                    </div>

                                    <div class="profileName row">

                                    </div>

                                </div>

                                <div class="postDetailBottom row">

                                    <div class="selectPostDescription column">

                                    </div>

                                </div>

                            </div>


                        </div>
                        
                    </li>

                    <li>

                        <div class="selectPost row">

                            <div class="selectPostImage column">

                                <div class="image">
                                    
                                    <img src = "assets/images/image1.svg">

                                </div>

                            </div>

                            <div class="selectPostDetails column">

                                <div class="postDetailTop row">

                                    <div class="selectDP column">

                                    </div>

                                    <div class="profileName row">

                                    </div>

                                </div>

                                <div class="postDetailBottom row">

                                    <div class="selectPostDescription column">

                                    </div>

                                </div>

                            </div>


                        </div>
                        
                    </li>

                    <li>

                        <div class="selectPost row">

                            <div class="selectPostImage column">

                                <div class="image">
                                    
                                    <img src = "assets/images/image3.svg">

                                </div>

                            </div>

                            <div class="selectPostDetails column">

                                <div class="postDetailTop row">

                                    <div class="selectDP column">

                                    </div>

                                    <div class="profileName row">

                                    </div>

                                </div>

                                <div class="postDetailBottom row">

                                    <div class="selectPostDescription column">

                                    </div>

                                </div>

                            </div>


                        </div>
                        
                    </li>

                    <li>

                        <div class="selectPost row">

                            <div class="postSelectAnimation row">

                                <div class="selectPostImage column">

                                    <div class="image">
    
                                        <img src = "assets/images/image4.svg">
    
                                    </div>
    
                                </div>
    
                                <div class="selectPostDetails column">
    
                                    <div class="postDetailTop row">
    
                                        <div class="selectDP column">
    
                                        </div>
    
                                        <div class="profileName row">
    
                                        </div>
    
                                    </div>
    
                                    <div class="postDetailBottom row">
    
                                        <div class="selectPostDescription column">
    
                                        </div>
    
                                    </div>
    
                                </div>


                            </div>
                        
                        </div>
                        
                    </li>

                    <li>

                        <div class="selectPost row">

                            <div class="selectPostImage column">

                                <div class="image">

                                    <img src = "assets/images/image5.svg">

                                </div>

                            </div>

                            <div class="selectPostDetails column">

                                <div class="postDetailTop row">

                                    <div class="selectDP column">

                                    </div>

                                    <div class="profileName row">

                                    </div>

                                </div>

                                <div class="postDetailBottom row">

                                    <div class="selectPostDescription column">

                                    </div>

                                </div>

                            </div>


                        </div>
                        
                    </li>

                </ul>

            </div>         

        </div>

        <div class="imageText row">

            <p>Choose a post
                from your 
                collection</p>

        </div>

    </div>

    <div class="sizeSection column">

        <div class="sizeSectionVisual row">

            <div class="outerBox noBorder column">

                <div class="sizeImage">

                    <img class = "sizeImage" src= "assets/images/image4.svg">     

                    <div class="topLeftSizer">

                        <img class = "sizerImg" src= "assets/images/sizerImg.svg">
        
                    </div>

                    <div class="topRightSizer">

                        <img class = "sizerImg" src= "assets/images/sizerImg.svg">
        
                    </div>

                    <div class="bottomLeftSizer">

                        <img class = "sizerImg" src= "assets/images/sizerImg.svg">
        
                    </div>

                    <div class="bottomRightSizer">

                        <img class = "sizerImg" src= "assets/images/sizerImg.svg">
        
                    </div>

                </div>  

                <img class = "innerImage" src= "assets/images/sizeImageFrame.svg">     

            </div>

        </div>

        <div class="imageText row">

            <p>Size the post
                in the frame</p>

        </div>

    </div>

</div>
