<div class="openingScreen closingAnimation">

  <div class="coverScreen column">
    <!-- First Message -->
    <div *ngIf='($count | async)  === 0' class="textContainer row">

      <h4 class = "typingSequence">It's difficult to constantly post </h4>

      <div class="animationCover">

        <div class="blinker">

        </div>

      </div>

    </div>

    <div *ngIf='($count | async)  === 0' class="textContainer row">

      <h4 class = "typingSequence opacityVary" >to engage your audience and grow.</h4>

      <div class="animationCoverTwo">

        <div class="blinkerTwo">

        </div>

      </div>

    </div>

    <!-- Second message -->
    <div *ngIf='($count | async) === 1' class="textContainer row">

      <h4 class = "typingSequence">Instead, collect and use the content you like</h4>

      <div class="animationCover">

        <div class="blinker">

        </div>

      </div>

    </div>

    <div *ngIf='($count | async)  === 1' class="textContainer row">

      <h4 class = "typingSequence opacityVary" >to make interactive moodboards.</h4>

      <div class="animationCoverTwo">

        <div class="blinkerTwo">

        </div>

      </div>

    </div>

    <!-- Third message -->
    <div *ngIf='($count | async)  === 2' class="textContainer row">

      <h4 class = "typingSequence">Quality takes time, so</h4>

      <div class="animationCover">

        <div class="blinker">

        </div>

      </div>

    </div>

    <div *ngIf='($count | async)  === 2' class="textContainer row">

      <h4 class = "typingSequence" >engage people with what inspires you,</h4>

      <div class="animationCoverTwoExp">

        <div class="blinkerTwo">

        </div>

      </div>

    </div>

    <div *ngIf='($count | async)  === 2' class="textContainer row">

      <h4 class = "typingSequence" >and post when you're ready.</h4>

      <div class="animationCoverThree">

        <div class="blinkerThree">

        </div>

      </div>

    </div>

  </div>

</div>
