<div class="backgroundCover">
    <img class = "desktopCircles" src = "assets/images/backgroundCircles.svg">
    <img class = "phoneCircles" src = "assets/images/backgroundCirclesPhone.svg">
    <img class = "midCircles" src = "assets/images/midBackgroundCircles.svg">
</div>

<div class="mainInfo">

    <div class= "infoCard column" data-aos="fade-right">

        <div class= "title row " [ngStyle] = "{'height': heightTop.offsetHeight.toString() + 'px'}">

            <h1 class = "bottom">It's difficult</h1>

            <h1 class = "top" #heightTop>It's difficult</h1>

        </div>

        <div class= "topDescription row">

            <h2>
                to constantly make new posts
                to grow and keep people enagaged.
            </h2>

        </div>

        <div class="bottomDescription row">

            <h3>
                Quality takes time<br>
                and effort.
            </h3>

        </div>

    </div>

    <div class= "infoCardTwo column" data-aos="fade-left">

        <div class= "title row " [ngStyle] = "{'height': heightTop.offsetHeight.toString() + 'px'}">

            <h1 class = "bottom">Instead,</h1>

            <h1 class = "top" #heightTop>Instead,</h1>

        </div>

        <div class= "topDescription row">

            <h2>
                engage your audience with your
                interests, not just your posts.
            </h2>

        </div>

        <div class="bottomDescription row">

            <h3>
                So you can focus on your craft,<br>
                and avoid burnout. 
            </h3>

        </div>

    </div>

    <div class= "infoCard column" data-aos="fade-right">

        <div class= "title row " [ngStyle] = "{'height': heightTop.offsetHeight.toString() + 'px'}">

            <h1 class = "bottom Full">Collect and use</h1>

            <h1 class = "top Full" #heightTop>Collect and use</h1>

            <h1 class = "bottom Small">Collect</h1>

            <h1 class = "top Small" #heightTop>Collect</h1>

        </div>

        <div class= "topDescription row">

            <h2>
                content you love to make interactive
                moodboards called spaces.
            </h2>

        </div>

        <div class="bottomDescription row">

            <h3>
                Engage people with the<br>
                things that inspire you.
            </h3>

        </div>

    </div>

</div>

