<div class="mainInfo">

    <!-- AB-test-B version -->
    <div *ngIf='template === "B"; else templateA' class= "infoCard column" appViewTrace name="Intro card - It's difficult">

        <div class= "title row " [ngStyle] = "{'height': heightTop.offsetHeight.toString() + 'px'}">

            <h1 class = "bottom">It's difficult</h1>

            <h1 class = "top" #heightTop>It's difficult</h1>

        </div>

        <div class= "topDescription row">

            <h2>
                to constantly make new posts
                to keep people enagaged and grow.
            </h2>

        </div>

        <div class="bottomDescription row">

            <h3>
                Quality takes time<br>
                and effort.
            </h3>

        </div>

    </div>

    <ng-template #templateA>
      <!-- AB-test-A version -->
      <div class= "infoCard column" data-aos="fade-right" appViewTrace name="Intro card - It's difficult">

        <div class= "title row " [ngStyle] = "{'height': heightTop.offsetHeight.toString() + 'px'}">

            <h1 class = "bottom">It's difficult</h1>

            <h1 class = "top" #heightTop>It's difficult</h1>

        </div>

        <div class= "topDescription row">

            <h2>
                to constantly make new posts
                to keep people enagaged and grow.
            </h2>

        </div>

        <div class="bottomDescription row">

            <h3>
                Quality takes time<br>
                and effort.
            </h3>

        </div>

      </div>
    </ng-template>

    <!-- Independent of AB test -->
    <div class= "infoCardTwo column" appViewTrace name='Intro card - Instead' appAOS className='test'>

        <div class= "title row " [ngStyle] = "{'height': heightTop.offsetHeight.toString() + 'px'}">

            <h1 class = "bottom">Instead,</h1>

            <h1 class = "top" #heightTop>Instead,</h1>

        </div>

        <div class= "topDescription row">

            <h2>
                engage your audience with your
                interests, not just your posts.
            </h2>

        </div>

        <div class="bottomDescription row">

            <h3>
                So you can focus on your craft,<br>
                and avoid burnout.
            </h3>

        </div>

    </div>

    <!-- Independent of AB test -->
    <div class= "infoCard column" data-aos="fade-right" appViewTrace name='Intro card - Collect'>

        <div class= "title row " [ngStyle] = "{'height': heightTop.offsetHeight.toString() + 'px'}">

            <h1 class = "bottom Full">Collect and use</h1>

            <h1 class = "top Full" #heightTop>Collect and use</h1>

            <h1 class = "bottom Small">Collect</h1>

            <h1 class = "top Small" #heightTop>Collect</h1>

        </div>

        <div class= "topDescription row">

            <h2>
                content you love to make interactive
                moodboards called spaces.
            </h2>

        </div>

        <div class="bottomDescription row">

            <h3>
                Engage people with the<br>
                things that inspire you.
            </h3>

        </div>

    </div>

</div>

