.Small {

    display: none;

}

.infoCard {

    height: auto;
    width: 640px;
    backdrop-filter: blur(20px);
    background: linear-gradient(108.79deg, rgba(102, 184, 255, 0.08) 50.68%, rgba(102, 184, 255, 0) 100%);
    border: 1px solid var(--dark);
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
    border-radius: 16px;
    margin-top: 64px;
    margin-left: 180px;
    float: left;


}

.infoCardTwo {

    height: auto;
    width: 640px;
    backdrop-filter: blur(12px);
    background: linear-gradient(108.79deg, rgba(22, 60, 94, 0.08) 50.68%, rgba(102, 184, 255, 0) 100%);
    border: 1px solid var(--dark);
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
    border-radius: 16px;
    margin-top: 64px;
    margin-right: 180px;
    float: right;

}

h1 {

    font-weight: 900px;

}

h3 {

    color: var(--primary);
    opacity: 0.9;
     
}

.title {

    position: relative;
    margin-top: 48px;
    margin-left: 48px;

}

.top {

    position: absolute;
    mix-blend-mode: normal;

}

.bottom {

    position: absolute;
    color: var(--primary);
    top: 1px;
    left: 2px;
    mix-blend-mode: normal;

}

.topDescription {

    margin-top: 2px;
    margin-left: 48px;
    max-width: 460px;

}

.bottomDescription {

    margin-top: 48px;
    margin-left: 48px;
    margin-bottom: 48px;

}

.progressButtons {

    margin-top: 48px;
    justify-content: center;

}

@media screen and (max-width: 900px) {

    .infoCard {

        width: 360px;
        margin-left: calc((100vw - 360px) / 2);
    
    }

    .infoCardTwo {

        width: 360px;
        float: left;
        margin-left: calc((100vw - 360px) / 2);
    
    }

    .Full {

        display: none;

    }

    .Small {

        display: block;

    }

    .title {

        margin-left: 16px;

    }

    .progressButtons {

        margin-bottom: 36px;
    
    }

    .topDescription {

        margin-left: 16px;
        margin-right: 6px;
    
    }
    
    .bottomDescription {
    
        margin-left: 16px;
        margin-bottom: 24px;
    
    }


}

