@import url('../../../assets/css/styles-b.css');

.info {
  margin-top: 8px;
  padding-bottom: 60px;
}

.video {
  height: 221px;
  width: 221px;
  border: 2px solid var(--primary);
  border-radius: 16px;
  margin-bottom: 12px;
  background-color: var(--dark);
}

h4 {
  color: var(--dark-blue);
}
