<div class="column">
  <div class="row spread">
    <div class="column space">
      <div class="row">
        <div class="column gears">
          <img src="assets/images/hiw-gear-B.svg" alt="how it works icon">
        </div>
        <div class="column center">
          <h2>
            HOW IT WORKS
          </h2>
        </div>
      </div>
      <div class="row">
        <h1>
          Build and share
        </h1>
      </div>
      <div class="row">
        <h1>
          interactive experiences.
        </h1>
      </div>
      <div class="row" style="margin-top: 15px;">
        <h2>
          We call them
        </h2>
        <h2 style="color: var(--primary)">&nbsp;spaces.</h2>
      </div>
    </div>
    <div class="column">
      <div class="row">
        <div class="relative">
          <img class='artwork' src="assets/artwork/prayable_excalibur.jpg" alt="Affiliate artwork | Excalibur">
          <div class="artist">
            <div class="column" style="height: 100%;">
              <div class="row spread" style="height: 100%;">
                <div class="column y-center">
                  <h4>
                    @ysnrtnk
                  </h4>
                </div>
                <div class="column y-center">
                  <img class='instagram' src="assets/images/instaLink.svg" alt="instagram link">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
