@import url('../../../assets/css/styles-b.css');


h5, h6 {

  z-index: 2;

}

.pageTitle {

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 140%;
  letter-spacing: 0.06em;
  color: #C2E3FF;

}

.background {

  z-index: 0;
  position: absolute;
  top: 0px;

}

.background > img {

  width: 100vw;

}

.backpanel {

  z-index: 1;
  width: 100%;
  height: 2392px;
  background: rgba(4, 6, 5, 0.6);
  backdrop-filter: blur(40px);
  border-radius: 0px 0px 36px 36px;
  position: absolute;
  top: 0px;
  left: 0px;

}

.align {

  justify-content: space-between;
  align-self: center;
  max-width: 1440px;
  margin-top: 148px;

}

.grow {

  justify-content: space-between;

}

.center {
  justify-content: center;
  align-items: center;
}

.gears {
  margin-right: 12px;
}

.gears > img {

  margin-left: -16px;

}

.artwork {
  width: auto;
  height: 420px;
  border-radius: 20px;
  filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.4));
}

.spacer {
  width: 35px;
}

.artist {
  width: 310px;
  height: 62px;
  background-color: var(--dark);
  border-radius: 16px;
  border: 2px solid var(--accent);
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  margin-left: 150px;
  margin-top: -20px;
  z-index: 1;
}

.instagram {
  width: 30px;
  height: 30px;
}

.highlightSpace {

  position: relative;

}

.highlight {

  position: absolute;
  top: -32px;
  left: -96px;

}

.y-center {
  justify-content: center;
}

.space {
  margin-right: 96px;
  margin-top: 24px;
}

.wrap {
  flex-wrap:wrap;
}

.margin {
  margin-left: 20px;
  margin-right: 20px;
}

.spaces-font {
  color: var(--primary);
  font-family: Recoleta;
  font-style: normal;
  font-weight: 900;
  font-size: 27px;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin: 1px;
}

@media screen and (max-width: 1248px) {

  .artwork {
    height: 280px;
  }

  .artist {
    width: 134px;
    height: 43px;
    padding-left: 10px;
    padding-right: 10px;
  }

  h6 {
    font-size: 12px;
  }

  .instagram {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 550px) {

  .spaces-font {
    margin: unset;
    margin-top: -8px;
  }

  .align {
    justify-content: flex-start;
  }

  .spacer {
    width: unset;
  }
}
