.mainPage {

    display: grid;
    place-items: center;

}

.backCover {

    position: relative;
    width: 100%;
    z-index: 0;

}

.background {

    position: absolute;
    top: -28px;

}


.navBar {

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;

}

.landingBanner {

    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 0;

}

.how-it-works {

    margin-top: calc(100vh + 76px);
    width: 100%;
    position: absolute;

}