html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
  }
  
  .body-no-scroll {
    overflow: hidden;
    position: fixed;
  }
  
  .mainLogo {
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
  /* font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Source Serif Pro', serif; */
  
  :root {
    --primary: #66B8FF;
    --accent: #FDF0DD;
    --dark: #040605;
    --white: #ffffff;
    --red: #CC2A28;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .dark {
    background: var(--dark);
    color: var(--dark);
  }
  
  .light {
    background: var(--accent);
    color: var(--accent);
    background-blend-mode: hard-light;
    mix-blend-mode: hard-light;
  }
  
  .primary {
    background: var(--primary);
    color: var(--primary);
    mix-blend-mode: normal;
  }
  
  h1, h2, h3, h4, h5 {
    text-rendering: optimizeLegibility;
    margin: 0px;
  }
  

h1 {

    font-family: 'Recoleta';
    font-style: normal;
    font-weight: bold;
    font-size: 60.75px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #FDF0DD;

}

h2 {

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FDF0DD;

}

h3 {

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;

}

h4 {

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #80C4FF;

}

h5 {

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 140%;
    letter-spacing: 0.06em;
    color: #C2E3FF;

}

h6 {

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 140%;
    color: #FDF0DD;

}

span {

    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 900;
    font-size: 40.5px;
    line-height: 140%;
    color: #FDF0DD;

}

p {

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #FFFFFF;

}


@media screen and (min-width: 550px) {

    h1 {

        font-family: 'Recoleta';
        font-style: normal;
        font-weight: bold;
        font-size: 40.5px;
        line-height: 140%;
        letter-spacing: -0.01em;
        color: #FDF0DD;

    }

    h2 {

        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: #FDF0DD;

    }

    h3 {

        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;

    }

    h4 {

        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #FDF0DD;

    }

    h5 {

        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.06em;
        color: #FDF0DD;

    }

    h6 {


        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        color: #FDF0DD;

    }

    span {

        font-family: 'Recoleta';
        font-style: normal;
        font-weight: 900;
        font-size: 27px;
        line-height: 140%;
        color: #FDF0DD;

    }

    p {

        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: #FFFFFF;

    }

  }