.sign-up-spacing {
    margin-top: 64px;
    margin-bottom: 48px;
}

.content {
    justify-content: center;
}

.container {
    position: relative;
    width: 1152px;
    height: 674px;
}

h2 {
    text-align: center;
    color: #FDF0DD;
}

.title {
    position: absolute;
    width: 514px;
    height: 160px;
    top: 0;
    left: 319px;
}

.paragraph {
    position: absolute;
    width: 469px;
    height: 96px;
    top: 178px;
    left: 341.5px;
}

h3 {
    text-align: center;
    color: rgba(253, 240, 221, 0.95);
}

.animation-container {
    position: absolute;
    width: 320px;
    height: 364px;

    background: #D2D4DA;
    border: 2px solid #040605;
    box-sizing: border-box;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.animation-A {
    top: 125px;
    left: 0;
}

.animation-B {
    top: 310px;
    left: 416px;
}

.animation-C {
    top: 81px;
    right: 0;
}

.animation-group {
    display: none;
}

.like-icon {
    position: absolute;
    width: 72px;
    height: 72px;
    top: -45px;
    left: 780px;
}

.touch-icon {
    position: absolute;
    width: 94px;
    height: 94px;
    top: calc(55px + 10px);
    left: calc(369px + 10px) ;
    transform: rotate(12.66deg);
}

@media only screen and (max-width: 1152px) {

    .container {
        width: 600px;
        height: 778px;
    }
    
    .title {
        width: auto;
        height: 120px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }   

    .paragraph {
        width: 469px;
        height: 96px;
        top: 138px;
        left: 50%;
        transform: translateX(-50%);
    }

    .touch-icon {
        top: calc(41px + 10px);
        left: calc(113px + 12px) ;
        transform: rotate(12.66deg);
    }

    .like-icon {
        top: -45px;
        left: 455px;
    }

    .animation-A {
        display: none;
    }
    
    .animation-B {
        display: none;
    }
    
    .animation-C {
        display: none;
    }

    .animation-group {
        display: block;
        top: 258px;
        left: 50%;
        transform: translateX(-50%);
    }

    .animation-container {
        width: 420px;
        height: 520px;
    }
    
}

@media only screen and (max-width: 600px) {

    .container {
        width: 300px;
        height: 720px;
    }
    
    .title {
        width: 273px;
        height: 86px;
        top: 0;
    }   

    .paragraph {
        width: 272px;
        height: 72px;
        top: 104px;
    }

    .touch-icon {
        width: 64px;
        height: 64px;
        top: calc(25px + 10px);
        left: calc(20px + 10px) ;
        transform: rotate(12.66deg);
    }

    .like-icon {
        width: 48px;
        height: 48px;
        top: -30px;
        left: 246px;
    }

    .animation-group {
        bottom: 0;
    }

    .animation-container {
        width: 314px;
        height: 520px;
    }
    
    
}