<div class="col sign-up-spacing">
    <div class="row content">
        <div class="container">
            <h2 class="title">Make interactive <br> spaces.</h2>
            <h3 class="paragraph">
                <b>Use your collection to create new experiences.</b>
                <br>Engage your audience, while helping
                <br>other creators grow.
            </h3>
            <img class='like-icon' src="assets/icons/1-k-like.svg" alt="like icon">
            <img class='touch-icon' src="assets/icons/touch-gesture.svg" alt="touch gesture icon">
            <div class="animation-container animation-A"></div>
            <div class="animation-container animation-B"></div>
            <div class="animation-container animation-C"></div>
            <div class="animation-container animation-group">
                <ng-image-slider    [images]="imageObject" 
                                    [videoAutoPlay]="true" 
                                    [showArrow]="false" 
                                    [infinite]="true" 
                                    [imageSize]="{width: '100%', height: '100%'}"
                                    #nav>
                </ng-image-slider>
            </div>
        </div>
    </div>
</div>
