<div class="title row">
    <h3>Sharing spaces</h3>
</div>


<div class="visualsContainer row">

    <div class="collectSection column">
        
        <div class="collectVisual row">

            <div class="outerBox column">

                <div class="topPanel row">

                    <div class="dpCircle column">

                    </div>

                    <div class="profileDetails column">

                        <div class="topRow row">

                        </div>

                        <div class="bottomRow row">

                        </div>

                    </div>

                </div>

                <div class="postImage row">

                    <div class="firstBlock">

                        <div class="clicker one">

                        </div>

                        <div class="clicker two">
                            
                        </div>

                        <div class="clicker three">
                            
                        </div>

                        <div class="clicker four">
                            
                        </div>

                        <div class="clicker five">
                            
                        </div>

                        <div class="clicker six">
                            
                        </div>

                        <div class="clicker seven">
                            
                        </div>

                        <div class="clicker eight">
                            
                        </div>

                    </div>

                    <div class="secondBlock">

                    </div>

                    <div class="thirdBlock">
                        
                    </div>

                </div>

                <div class="bottomPanel row">

                        <div class="postDescription column">

                        </div>

                        <div class="collectButton column">

                        </div> 

                </div>

            </div>

        </div>

        <div class="imageText row">
            <p>Post parts of a space for your 
                followers to interact with. </p>
        </div>

    </div>
    
</div>