.title {

    justify-content: center;
    width: 100%;

}

.visualsContainer {

    width: 100%;
    margin-top: 16px;
    justify-content: center;

}

.collectSection {

    width: 222px;

}

.collectVisual {

    align-self: center;

}

.outerBox {

    width: 92px;
    height: 113px;
    border: 1px solid #040605;
    box-sizing: border-box;

}

.topPanel {

    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;

}

.dpCircle {

    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #040605;
    box-sizing: border-box;

}

.profileDetails {

    margin-top: 1px;
    margin-left: 2px;
    width: 68px;
    
}

.topRow {

    border: 1px solid #040605;
    box-sizing: border-box;
    border-radius: 1px;
    width: 100%;
    height: 6px;

}

.bottomRow {

    border: 1px solid #040605;
    box-sizing: border-box;
    border-radius: 1px;
    width: 48px;
    height: 4px;
    margin-top: 2px;

}

.postImage {

    position: relative;
    width: 100%;
    height: 74px;
    background: #040605;
    background-blend-mode: hard-light;
    mix-blend-mode: normal;
    border-top: 2px solid #040605;
    border-bottom: 2px solid #040605;
    border-left: 1px solid #040605;
    border-right: 1px solid #040605;
    box-sizing: border-box;

}

.firstBlock {

    width: 38px;
    height: 18px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #FDF0DD;
    border-top: 2px solid #040605;
    border-right: 2px solid #040605;
    box-sizing: border-box;
    z-index: 1;
    animation: scale-post 3s ease-in-out infinite both;

}

.secondBlock {

    width: 52px;
    height: 40px;
    position: absolute;
    bottom: 16px;
    right: 0px;
    background: #FDF0DD;
    border-top: 2px solid #040605;
    border-left: 2px solid #040605;
    border-bottom: 2px solid #040605;
    box-sizing: border-box;

}

.thirdBlock {

    position: absolute;
    width: 34px;
    height: 14px;
    background: #fdf0dd;
    top: 0px;
    right: 0px;
    box-sizing: border-box;
    border-left: 2px solid #040605;

}

.postDescription {

    border: 1px solid #040605;
    box-sizing: border-box;
    border-radius: 1px;
    margin-top: 3px;
    margin-left: 3px;
    width: 62px;
    height: 11px;

}

.collectButton {

    background: #040605;
    border: 1px solid #040605;
    box-sizing: border-box;
    border-radius: 1px;
    margin-left: 2px;
    margin-top: 5px;
    width: 20px;
    height: 7px;

}

.imageText {

    margin-top: 4px;
    text-align: center;
    width: 222px;
   
}

.imageText > p {

    color: #040605;

}

.clicker {

    position: relative;
    height: 3px;
    background-color: #66B8FF;
    animation: click-bar 3s ease infinite both;


}

.one {

    left: 18px;
    top: 2px;

}

.two {

    left: 18px;
    top: 9px;

}

.three {

    left: 23px;
    top: 1px;
    transform: rotate(90deg);

}

.four {

    top: -2px;
    left: 13px;
    transform: rotate(90deg);

}

.five {

    transform: rotate(45deg);
    top: -1px;
    left: 14px;

}

.six {

    transform: rotate(-45deg);
    top: -12px;
    left: 14px;

}

.seven {

    transform: rotate(-45deg);
    top: -7px;
    left: 22px;

}

.eight {

    transform: rotate(45deg);
    top: -18px;
    left: 22px;

}

/* Animations */

@keyframes click-bar {

    0% {

        width: 0px;

    }

    20% {

        width: 2px;

    }

    30% {

        width: 0px;

    }

    100% {

        width: 0px;

    }


}

@keyframes scale-post {

    0% {

        width: 38px;
        height: 18px;

    }

    40% {

        width: 38px;
        height: 18px;
      
    }

    70% {

        height: 100%;
        width: 100%;  

    }

    85% {

        height: 100%;
        width: 100%;
        left: 1px;
        bottom: 1px;

    }

    100% {

        left: 0px;
        bottom: 0px;

    }
}
