<div class="col center-align">
    <div class="row center">
        <h4>Early Access</h4>
    </div>
    <div class="row center">
        <h5>Join 1200 more creatives.</h5>
    </div>
    <div class="row wrap spacer center gap restrict-phone">
        <div class="col">
            <div class="row gap wrap restrict">
                <input class="field" placeholder="Name">
                <input class="field" placeholder="Email">
            </div>
        </div>
        <div class="col center">
            <div class="row">
                <button class="button">
                    <h5>Sign Up</h5>
                </button>
            </div>
        </div>
    </div>
</div>