<div class="row logo" routerLink='/home'>

    <img src = "assets/images/logo.svg">

</div>

<div class="row alignContainer">

    <div class="column container">

        <div class="row title">

            <h2>Early Access</h2>

        </div>

        <div class="orMarker">

            <div class="marker">
                <p>CHOOSE ONE OF THE FOLLOWING</p>
            </div>

        </div>

        <!-- Google sign-up button -->
        <div class="row signUpHelpers">

            <div id="my-signin2"></div>

        </div>

        <!-- Apple sign-up button -->
        <div class="row signUpHelpers">

            <div id="appleid-signin" class="signin-button" data-color="black" data-border="false" data-type="sign-in"></div>

        </div>

        <div class="orMarker">

            <div class="marker">
                <p>OR MANUALLY ADD YOUR DETAILS</p>
            </div>

        </div>

        <div class="row feild no-margin-top">

            <div class="column feildSize">

                <div class="feildTitle row">
                    <h4>Name</h4>
                </div>

                <div class="feildInput row"
                    [ngClass]='{"error-border": !!errors.name}'>

                    <input type='text'
                           class = "input"
                           [(ngModel)]="name"
                           (focusout)='validName()'
                           (keyup)='validName()'
                           name='fullname'
                           id="fullname">

                </div>

                <div *ngIf='errors.name' class="feildError row">

                  <p class = "error">{{errors.name}}</p>

                </div>

            </div>

        </div>

        <div class="row feild">

            <div class="column feildSize">

                <div class="feildTitle row">
                    <h4>E-mail address</h4>
                </div>

                <div class="feildInput row" [ngClass]='{"error-border": !!errors.email}'>
                  <input type="email"
                         class = "input"
                         [(ngModel)]="email"
                         (focusout)='validEmail()'
                         (keyup)='validEmail()'
                          name='email'
                          id="email">
                </div>

                <div *ngIf='errors.email' class="feildError row">

                    <p class = "error">{{errors.email}}</p>

                </div>

            </div>

        </div>

        <div class="row nextIcon feild" (click)='saveUser()'>


          <app-loading *ngIf='creating; else button'></app-loading>

          <ng-template #button>
            <!-- Confirm arrow -->
            <img *ngIf='!errors.name && !errors.email; else errorIcon'
            src = "assets/images/nextIcon.svg">

            <!-- Error arrow -->
            <ng-template #errorIcon>
              <img src = "assets/images/nextIconError.svg">
            </ng-template>
          </ng-template>

        </div>

    </div>

</div>


