.center {
    justify-content: center;
}

.gap {
    column-gap: 18px;
}

.spacer {
    margin-top: 18px;
}

.field {
    width: 218px;
    height: 48px;
    background: var(--light);
    border: 2px solid var(--dark);
    box-sizing: border-box;
    border-radius: 6px;
}

.button {
    width: 146px;
    height: 48px;
    background: var(--primary);
    border-radius: 6px;
}

.wrap {
    flex-wrap: wrap;
}

@media only screen and (max-width: 1152px) {
    
    .gap {
        column-gap: 24px;
        row-gap: 12px;
    }

    .restrict {
       max-width: 218px;
    }

    .center-align {
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {

    .gap {
        column-gap: 12px;
    }

    .restrict-phone {
        max-width: 218px;
    }

}