<div class="backpanel">

    <img class = "landingBackground" src = "assets/images/landingPageB.svg">

    <div class="backgroundCover">


    </div>

    <div class="content">

        <div class="row contentRow">

            <div class="column text">

                <div class="row">

                    <p class="title">

                        The easiest way<br>
                        <span>to express yourself.</span>
                       
                    </p>

                </div>

                <div class="row subTitle">

                    <h6>A social platform that empowers creativity.</h6>

                </div>

            </div>

            <div class="column logo">

                <img class = "logo" src = "assets/images/landingLogo.svg">

            </div>            

        </div>

    </div>

</div>