<div class="backPanel column">

    <div class= "title row " #heightTop>

        <span class = "bottom">Share interests</span>

        <span class = "top">Share interests</span>

    </div>

    <div class="subTitle row" [ngStyle] = "{'height': heightTop.offsetHeight.toString() + 'px'}">

        <span>and find many more.</span>

    </div>

    <div class="visuals row">


        <div class="collectVisual column">



        </div>

        <div class="collectVisual column">

            

        </div>


    </div>

</div>

<div class="numberMarker column">

    <img src = "assets/images/numberMarkerThree.svg">

</div>

