.container {
  background-color: var(--dark);
  margin-top: 62px;
  border-radius: 38px;
  border: 4px solid var(--accent);
  padding-left: 114px;
  padding-right: 114px;
}

.center {
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 42px;
}

.evenly {
  justify-content: space-evenly;
}
