<div class="column container">
  <div class="row center title relative">
    <div class="identifier position-B">
      <img src="assets/images/card_2.svg" alt="2">
    </div>
    <h2>Collect content</h2>
  </div>
  <div class="row center sub-title">
    <h3>from all over the internet.</h3>
  </div>
  <div class="row evenly wrap">
    <app-sub-card class="sub-card-padding-right"></app-sub-card>
    <app-sub-card></app-sub-card>
    <app-sub-card class="sub-card-padding-left"></app-sub-card>
  </div>
</div>
