@import url('../../assets/css/styles-b.css');

.container {
  background-image: url("/src/assets/images/card_background.jpg");
  background-color: var(--dark);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  margin-top: 62px;
  border-radius: 38px;
  border: 4px solid var(--accent);
  /* padding-left: 114px;
  padding-right: 114px; */
}

.center {
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 42px;
}

.evenly {
  justify-content: space-evenly;
}

.wrap {
  flex-wrap: wrap;
}
