h3 {

    color: #66B8FF;

}

.sizer {

    width: 100%;
    align-items: center;

}

.emailIcon {

    width: 30px;
    height: auto;
    margin-bottom: 16px;

}


.logo {
    width: 100%;
    justify-content: center;
    margin-top: 36px;
}

.lineOne {

    justify-content: center;
    margin-top: 26px;

}

.lineTwo {

    justify-content: center;
    margin-left: 18px;
    margin-top: 16px;

}

.adjustedHeading {

    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0.02em;

}

.adjustedTwo {
 
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 140%;

}

.instaInfo {

    margin-top: 48px;

}

.instaMessage {

    text-align: center;

}

.instaLink {

    margin-top: 16px;

}

@media screen and (max-width: 550px) {

    .adjustedHeading {
 
        font-size: 24px;
    
    }

    .adjustedTwo {

        font-size: 24px;

    }

    h3 {

        font-size: 18px;

    }



}

