 <div class="row logo" routerLink='/home'>

    <img src = "assets/images/logo.svg">

</div>

<div class="row lineOne">

    <h1 class = "adjustedHeading">An exclusive invite will be<br>e-mailed to you soon.</h1>


</div>

<div class="row lineTwo">


    <h1 class = "adjustedTwo">We’re currently hard at work,<br>
        building <b>Postpress</b> for you.</h1>

</div>

<div class="row instaInfo">

    <div class="column sizer">

        <div class="row instaMessage">

            <h3>Follow our IG page for<br>updates and more content.</h3>

        </div>

        <div class="row instaLink">
          <a href="https://www.instagram.com/postpress.io/" target="_blank" (click)='clickInstagram();'>
            <img src = "assets/images/blueInstaIcon.svg">
          </a>
        </div>

    </div>

</div>

<div class="row instaInfo">

    <div class="column sizer">

        <div class="row instaMessage">

            <h3>Contact us to become an affiliate.<br>Be a part of the pre-alpha group.</h3>

        </div>

        <div class="row instaLink">
          <a href="mailto:contact@postpress.io" (click)='clickEmail();'>
            <img class = "emailIcon" src = "assets/images/blueEmailIcon.svg">
          </a>
        </div>

    </div>

</div>


