<div class="col">
    <div class="row content">
        <div class="backpanel">
            <h2 class="title">
                Collect content from 
                anywhere.
            </h2>
            <h3 class="paragraph">
                <b>Just paste a link for any post
                <br>to add it to your collection.</b> 
                <br>We handle the rest, like 
                <br>crediting the original creator.
            </h3>
            <div class="divider"></div>
            <app-animation-group class="animations"></app-animation-group>
            <embed class="icon" src="assets/icons/paperclip.svg">
        </div>
    </div>
</div>