@import url('../../../assets/css/styles-b.css');
   
   .backpanel {
     width: 100vw;
     position: relative;
     overflow-x: hidden;
   }
   
   h1, h2, h3, h4, h5, h6 {

    z-index: 2;

  }

  h2 {

    text-align: left;

  }

  h4 {

    color: #0BDBFE;
    z-index: 2;

  }

  .circleAAnchor {

    position: relative;

  }

  .circleA {

    position: absolute;
    left: -192px;
    top: 0px;

  }

  .spread {
  
    justify-content: space-between;
    align-self: center;
    max-width: 1440px;
    margin-top: 75px;
  
  }
  
  .grow {
  
    justify-content: space-between;
  
  }
  
  .center {
    justify-content: center;
    align-items: center;
  }

  .context {

    margin-top: 109px;

  }
  
  .gears {
    margin-right: 12px;
  }
  
  .gears > img {
  
    margin-left: -16px;
  
  }
  
  .relative {
    position: relative;
    height: 411px;
  }

  .pageTitle {

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 140%;
    letter-spacing: 0.06em;
    color: #0BDBFE;

  }

  .art {

    align-items: flex-end;

  }

  .artworkContainer {

    width: 380px;
    height: 380px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.4));
    object-fit: cover;

  }
  
  .artwork {
    
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    
  }
  
  .artist {
  
    position: absolute;
    top: 350px;
    left: 96px;
    width: 310px;
    height: 62px;
    background-color: var(--dark);
    border-radius: 16px;
    border: 2px solid var(--accent);
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  
  }
  
  .instagram {
    width: 30px;
    height: 30px;
  }
  
  .highlightSpace {
  
    position: relative;
  
  }
  
  .highlight {
  
    position: absolute;
    top: -32px;
    left: -62px;
  
  }
  
  .y-center {
    justify-content: center;
  }
  
  .space {
    margin-right: 174px;
    margin-top: 24px;
  }

  .context {

    justify-content: center;

  }

  .contextTitle {

    position: relative;

  }

  .contextTwo {

    justify-content: center;
    margin-right: 195px;
    margin-top: 124px;

  }

  .contextSymbol {

    margin-left: 82px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    
  }

  .contextSymbolTwo {

    margin-left: 96px;

  }

  .circleB {

    position: absolute;
    top: 0px;
    z-index: 0;

  }

  .progressBar {

    margin-top: 20px;
    width: 324px;
    height: 12px;
    background: #040605;
    border-radius: 6px;
    align-self: left;
    z-index: 2;

  }

  .whiteBar {

    width: 108px;
    height: 12px;
    background: #FDF0DD;
    border-radius: 6px 0px 0px 6px;

  }

  .whiteBarTwo {

    width: 216px;

  }

  .contextThree {

    justify-content: center;
    margin-right: -156px;
    margin-top: 124px;

  }

  .circleC {

    position: absolute;
    top: -620px;
    left: -295px;
    z-index: 0;

  }

  .whiteBarThree {
    width: 100%;
    border-radius: 6px 6px 6px 6px;
  }

  .artPad {

    display: none;

  }

  .contextSymbolPad {

    display: none;
    
  }

  .padIcon {

    display: none;

  }

  .padBackground {

    position: absolute;
    top: 0px;
    height: 100%;
    overflow-x: hidden;
    display: none;

  }

  @media screen and (max-width: 1248px) {

    .spread {

      margin-top: 32px;

    }

    .art {

      display:none;

    }
    
    .artPad {

      display: flex;
      justify-content: center;
      margin-right: 256px;
      margin-top: 42px;

    }

    .space {

      margin-right: 0px;
      margin-top: 104px;

    }

    .contextSymbolPad {

      display: flex;

    }

    .contextSymbol {

      display: none;

    }

    .context {

      margin-left: 32px;
      margin-top: 62px;
      margin-right: 32px;

    }

    .contextTwo {

      justify-content: center;
      margin-right: 146px;
      margin-top: 62px;

    }

    .contextThree {

      margin-right: 56px;
      justify-content: center;
      margin-top: 62px;
      margin-right: 46px;

    }

    .padIcon {

      display: flex;
      position: relative;

    }

  }

  