<div class="column">
  <!-- Discover -->
  <div class="row">
    <div class="column">
      <div class="row">
        <div>
          Not just an algorithm
        </div>
      </div>
      <div class="row">
        <div class='middle-line'>
          Discover organically
        </div>
      </div>
      <div class="row">
        <div class='bottom-line'>
          Find more creators through your friends spaces, not just our recommendations.
        </div>
      </div>
    </div>
  </div>

  <!-- Experiences -->
  <div class="row spacing">
    <div class="column">
      <div class="row">
        <div>
          Get more value from content
        </div>
      </div>
      <div class="row">
        <div class='middle-line'>
          Make experiences
        </div>
      </div>
      <div class="row">
        <div class='bottom-line'>
          Arrange your favourite photos and videos to create unique interactable moodboards.
        </div>
      </div>
    </div>
  </div>

  <!-- Grow -->
  <div class="row spacing">
    <div class="column">
      <div class="row">
        <div>
          Reach more feeds, more easily
        </div>
      </div>
      <div class="row">
        <div class='middle-line'>
          Grow together
        </div>
      </div>
      <div class="row">
        <div class='bottom-line'>
          See people spread your work by collecting and using it in their own spaces.
        </div>
      </div>
    </div>
  </div>
</div>
