p {

  line-height: 140%;
  
}

.middle-line {
  margin-top: 2px;
}

.bottom-line {
  margin-top: 16px;
  max-width: 342px;
  word-wrap: break-word;
}

.spacing {
  margin-top: 36px;
}

.row > p {
  color: var(--primary);
  font-weight: 600;
  
}
