<div class="column">
  <!-- Discover -->
  <div class="row">
    <div class="column">
      <div class="row">
        <p>
          Not just an algorithm
        </p>
      </div>
      <div class="row">
        <div class='middle-line'>
          <h3>
            Discover organically
          </h3>
        </div>
      </div>
      <div class="row">
        <div class='bottom-line'>
          <p>
            Find more creators through your friends spaces, not just our recommendations.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Experiences -->
  <div class="row spacing">
    <div class="column">
      <div class="row">
        <p>
          Get more value from content
        </p>
      </div>
      <div class="row">
        <div class='middle-line'>
          <h3>
            Make experiences
          </h3>
        </div>
      </div>
      <div class="row">
        <div class='bottom-line'>
          <p>
            Arrange your favourite photos and videos to share your interests, in a unique way.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Grow -->
  <div class="row spacing">
    <div class="column">
      <div class="row">
        <p>
          Reach more feeds, more easily
        </p>
      </div>
      <div class="row">
        <div class='middle-line'>
          <h3>
            Grow together
          </h3>
        </div>
      </div>
      <div class="row">
        <div class='bottom-line'>
          <p>
            Watch the community spread your work by collecting and using it in their own spaces.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
