/* You can add global styles to this file, and also import other style files */
@import "~aos/dist/aos.css";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.body-no-scroll {
  overflow: hidden;
  position: fixed;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Serif Pro', serif; */

:root {
  --primary: #66B8FF;
  --accent: #FDF0DD;
  --dark: #040605;
  --white: #ffffff;
  --red: #CC2A28;
}

::-webkit-scrollbar {
  display: none;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}


h1, h2, h3, h4 {
  text-rendering: optimizeLegibility;
}

h2 {
  font-family: Recoleta;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 125%;
  /* or 80px */

  letter-spacing: 0.01em;
}

h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 135%;
  /* or 32px */

  letter-spacing: -0.005em;
}
