.center {
    justify-content: center;
    align-items: center;
}

.container {
    height: calc(100vh - 64px);
}

.video-container{
    width: 1484px;
    height: 720px;
    overflow-x: hidden;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.row {
    height: 100%;
}

@media only screen and (max-width: 1152px) {

    .video-container{
        width: 988px;
        height: 480px;
    }

    .container {
        height: unset;
        margin-bottom: 124px;
        margin-top: 188px;
    }
}

@media only screen and (max-width: 600px) {

    .video-container{
        width: 100vw;
        height: 280px;
    }

    .container {
        margin-bottom: 72px;
        margin-top: 136px;
    }
    
}
