<div class="column main center">
  <div class="backgroundCover">
    <img src="assets/images/backgroundImage.jpeg">
  </div>
  <div class="row mainPage">
    <div class="column">
      <div class="row center logo">
        <img src="assets/images/logo.svg">
      </div>
      <div class="row alignSlogan">
        <h2>
          Share your interests.
        </h2>
      </div>
      <div class="row signUpButton center">
        <app-sign-up-banner></app-sign-up-banner>
      </div>
      <div class="row moreArrow center" (click)='scrollDown()'>
        <img src = "assets/images/moreArrow.svg">
      </div>
    </div>
  </div>
  <app-intro></app-intro>
  <div class="restrict">
    <div class="row wrap center">
      <div data-aos="fade-up" class="bottom-margin">
        <app-how-it-works id='howitworks'></app-how-it-works>
      </div>
      <div data-aos="fade-up" class='column bottom-margin-exp'>
        <app-benefits class='bottom-margin'></app-benefits>
        <app-sign-up-banner></app-sign-up-banner>
      </div>
      <div data-aos="fade-up" class="column bottom-margin">
        <app-mission-statement class='bottom-margin'></app-mission-statement>
        <app-sign-up-banner></app-sign-up-banner>
      </div>
    </div>

    <div class="row linksRow">

        <!-- <div class="instaLink column links">
          <a href="https://www.instagram.com/postpress.io/" target="_blank" (click)='clickInstagram();'>
            <img src = "assets/images/instaLink.svg">
          </a>
        </div> -->

        <div class="emailLink column links">
          <a href="mailto:contact@postpress.io" (click)='clickEmail();'>
            <img src = "assets/images/emailIcon.svg">
          </a>
        </div>

    </div>
  </div>
</div>



