.center {
    justify-content: center;
    align-items: center;
}

.container {
    height: calc(100vh - 64px);
}

.video-container{
    width: 693px;
    height: 359px;
    overflow: hidden;
    border-radius: 12px;
    border: solid 2px #fdf0dd;
    box-sizing: border-box;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
}

.pointer {
    cursor: pointer;
}

video, img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.row {
    height: 100%;
}

@media only screen and (max-width: 1152px) {

    .video-container{
        width: 580px;
        height: 280px;
        border-radius: 12px;
    }

    .container {
        height: unset;
        margin-bottom: 94px;
        margin-top: 188px;
    }
}

@media only screen and (max-width: 600px) {

    .video-container{
        width: 95vw;
        max-width: 420px;
        height: 220px;
        border-radius: 12px;
    }

    .container {
        margin-bottom: 48px;
        margin-top: 136px;
    }
    
}

@media only screen and (max-width: 410px) {

    .video-container{
        height: 200px;
    }

}

@media only screen and (max-width: 360px) {

    .video-container{
        height: 170px;
    }

}
