.main {
  position: relative;
  overflow-x: hidden;
}

app-intro {

  width: 100%;
  margin-top: -190px;
  height: auto;

}

.signUpButton {

  margin-top: 48px;

}

.backgroundCover {

  position: absolute;
  z-index: -1;
  top: 0px;
  height: 100vh;
  width: 100vw;
  filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.35));

}

.backgroundCover > img {

  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0px 0px 16px 16px;

}

.mainPage {

  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 2;

}

.moreArrow {

  width: auto;
  height: auto;
  margin-top: 48px;
  animation: more-arrow 1s ease-in-out infinite both;

}

.moreArrow > img {

  cursor: pointer;

}

.restrict {

  margin-top: 124px;

}

.center {
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.wrap > div {
  margin-left: 64px;
  margin-right: 64px;
}

.bottom-margin {
  margin-bottom: 48px;
}

.bottom-margin-exp {

  margin-bottom: 72px;

}

.logo {

  margin-top: 36px;

}

.alignSlogan {

  justify-content: center;

}

h2 {
  margin-bottom: 24px;
  text-align: center;
  margin-top: 16px;
}

.linksRow {

  margin-bottom: 16px;
  margin-top: 24px;
  width: 340px;
  margin-left: calc((100% - 340px)/2);

}

.links {

  align-items: center;
  /* Replace width with 50% when insta icon is added back */
  width: 100%;

}

.emailLink > a > img {

  height: 30px;
  width: 30px;

}



@media screen and (max-width: 1164px) {
  .restrict {
    max-width: 550px;
  }
}

@media screen and (max-width: 900px) {
  .restrict {
    margin-top: 64px;
  }
}

@media screen and (max-width: 550px) {

  .wrap > div {

    margin-left: 0px;
    margin-right: 0px;

  }

}

@keyframes more-arrow{

  0% {

    opacity: 1;

  }

  50% {

    opacity: 0.4;

  }

  100% {

    opacity: 1;

  }

}

@keyframes scale-logo {

  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }

}
