<div class="column center">
  <div class="row">
    <div class="column">
      <div class="row">
        <img src="assets/images/logo.svg" alt="">
      </div>
      <div class="row">
        <h2>
          Create and share interactive visual experiences
        </h2>
      </div>
    </div>
  </div>
  <div class="row wrap center">
    <div>
      <app-how-it-works></app-how-it-works>
    </div>
    <div>
      <app-benefits></app-benefits>
    </div>
    <div>
      <app-mission-statement></app-mission-statement>
    </div>
  </div>
</div>
