<div class="row spacing center">
    <div class="col">
        <div class="container">
            <h2 class="title">No more burnout.</h2>
            <h3 class="paragraph">
                Take your time to post.
                <br>Engage people with your collection
                <br>while you focus on your craft. 
                <br><b>Creativity isn’t constant, we get that.</b>
            </h3>
            <h3 class="affiliate"><b>Our affiliates.</b></h3>
            <img class='clock' src="assets/icons/alarm clock.svg" alt="alarm clock">
            <img class='handshake' src="assets/icons/shakehand.svg" alt="hand shake">
            <img class='arrow' src="assets/icons/arrow.svg" alt="arrow">
            <div class="showcase"></div>
        </div>
    </div>
</div>