<div class="row spacing center">
    <div class="col phoneSpace">
        <div class="container">
            <h2 class="title">No more burnout.</h2>
            <h3 class="paragraph">
                Take your time to post.
                <br>Engage people with your collection
                <br>while you focus on your craft. 
                <br><b>Creativity isn’t constant, we get that.</b>
            </h3>
            <h3 class="affiliate"><b>Our affiliates.</b></h3>
            <img class='clock' src="assets/icons/alarm clock.png" alt="alarm clock">
            <img class='handshake' src="assets/icons/shakehand.svg" alt="hand shake">
            <img class='arrow' src="assets/icons/arrow.svg" alt="arrow">
            <div class="showcase">
                <div class="scroll-container" #scrollContainer>
                    <div class="image-container" *ngFor="let affiliate of affiliates">
                        <img [src]="affiliate.src" [alt]="affiliate.name">
                    </div>     
                </div>
                <app-carousel-buttons [count]="affiliates.length" [activeButton]="activePosition" (activeButtonChange)="changeImage($event)" class="carousel-buttons"></app-carousel-buttons>
            </div>
            <div class="caption-container">
                <a *ngFor="let affiliate of affiliates; let i = index" href="https://www.instagram.com/{{affiliate.name}}/" target="_blank">
                    <p [ngClass]="activePosition === i ? 'appear' : 'disappear'">@{{affiliate.name}}</p> 
                </a>
            </div>
        </div>
    </div>
</div>