.outerPanel {

    width: 550px;
    border: 1px solid #FDF0DD;
    border-radius: 20px;
    filter: drop-shadow(4px 0px 12px #000000);
    box-sizing: border-box;

}

.heading {

    margin-top: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: calc(100% - 32px);
    height: 48px;
    margin-left: 16px;
    background-color: var(--dark);
    border-radius: 16px;


}

.heading > h2 {

    font-size: 28px;

}

.collection {

    margin-top: 48px;

}

.create {
    margin-top: 48px;
}

.share {

    margin-top: 48px;
    
}

@media only screen and (max-width: 550px) {

    .outerPanel {

        width: 100vw;
        border-bottom: 0px;
        border-left: none;
        border-right: none;

    }

}

