<div class="container" #container>
    <!-- <ng-lottie (enterFrame)="onFrameChange($event)" (complete)="onComplete($event)"  class='tiktok' [options]="tiktok" (animationCreated)="animationCreated($event, 'tiktok')"></ng-lottie>
    <ng-lottie (complete)="onComplete($event)" class="twitter" [options]="twitter" (animationCreated)="animationCreated($event, 'twitter')"></ng-lottie>
    <ng-lottie (complete)="onComplete($event)" class="instagram" [options]="instagram" (animationCreated)="animationCreated($event, 'instagram')"></ng-lottie>
    <ng-lottie (complete)="onComplete($event)" class="pinterest" [options]="pinterest" (animationCreated)="animationCreated($event, 'pinterest')"></ng-lottie>
    <ng-lottie (complete)="onComplete($event)" class="youtube" [options]="youtube" (animationCreated)="animationCreated($event, 'youtube')"></ng-lottie>
    <ng-lottie (complete)="onComplete($event)" class="behance" [options]="behance" (animationCreated)="animationCreated($event, 'behance')"></ng-lottie> -->
    <ng-lottie #animation class='tiktok' [options]="tiktok" (animationCreated)="animationCreated($event, 'tiktok')"></ng-lottie>
    <ng-lottie #animation class="twitter" [options]="twitter" (animationCreated)="animationCreated($event, 'twitter')"></ng-lottie>
    <ng-lottie #animation class="instagram" [options]="instagram" (animationCreated)="animationCreated($event, 'instagram')"></ng-lottie>
    <ng-lottie #animation class="pinterest" [options]="pinterest" (animationCreated)="animationCreated($event, 'pinterest')"></ng-lottie>
    <ng-lottie #animation class="youtube" [options]="youtube" (animationCreated)="animationCreated($event, 'youtube')"></ng-lottie>
    <ng-lottie #animation class="behance" [options]="behance" (animationCreated)="animationCreated($event, 'behance')"></ng-lottie>
</div>